body {
    text-align: center;
    background-color: aqua;
}
img {
    height: 300px;
    width: 500px;
}
h2{
    text-size-adjust: 50px;
}
#picture{
    width: 200px;
    height: 30px;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
h7{
    text-align: center;
}
h8{
    text-align: center;
}
h9{
    text-align: center;
}